{% extends '::base.html.twig' %}

{% block body -%}
    <article class="page hentry clearfix">
        <!-- .hentry-box -->
        <div class="hentry-box">
            <!-- .entry-wrap -->
            <div class="entry-wrap">

                <header id="page-header">
                    <h1 class="page-title">Zespół</h1>
                </header>

                <div class="entry-content">
                    {% for entity in entities %}
                    <div class="entry-content clearfix team-box">
                        <div class="row">
                            <div class="col-sm-6" style="float: left; ">
                                <img src="{{ app.request.uriForPath(asset("/uploads/team/"~entity.image)) | replace({'/app_dev.php': ''}) }}" class="img-responsive" alt="{{ entity.firstname }}">
                            </div>
                            <div class="col-sm-6 member-info" style="float: left; ">
                                <p>Imię: {{ entity.firstname }}</p>
                                <p>Nazwisko: {{ entity.lastname }}</p>
                                <p>Pozycja: {{ entity.speciality }}</p>
                                <p><a href="{{ path('team_show', { 'id': entity.id }) }}">O mnie</a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <span style="clear:both"></span>
                </div>
                <!-- /.entry-wrap -->

            </div>
            <!-- /.hentry-box -->
        </div>
    </article>
{% endblock %}
