{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="text-center" style="padding-bottom: 30px">{{ entity.firstname }} {{ entity.lastname }} - {{ entity.speciality }}</h1>

    <div class="row">
        <div class="col-md-12" >

            <div class="col-md-6">
                <img src="{{ app.request.uriForPath(asset("/uploads/team/"~entity.image)) | replace({'/app_dev.php': ''}) }}" class="img-responsive" alt="{{ entity.firstname }}">
            </div>
            <div class="col-md-6" style="padding-left: 20px;">
                <h3>O mnie</h3>
                <p>{{ entity.description }}</p>
            </div>

        </div>
    </div>

    <br><hr>

    <ul class="record_actions">
        <li>
            <a href="{{ path('team') }}">
                Powrót
            </a>
        </li>
    </ul>
{% endblock %}
