<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>{% block title %}Teatr{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets '@CodersmillArchiveBundle/Resources/public/css/*' %} <!--  filter='cssrewrite' -->
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="page clearfix">

<!-- #header -->
<header id="site-header" class="clearfix" role="banner">

    <!-- #logo -->
    <div id="logo">
        <!-- .container -->
        <div class="container">
            <a title="Cyfrowe Archiwum i Muzeum Aleksandra Fredry" href="{{ path('codersmill_homepage') }}">
                <h1 class="site-title">Cyfrowe Archiwum i Muzeum Aleksandra Fredry</h1>
                <!-- <img alt="" src="" /> -->
            </a>
        </div>
    </div>
    <!-- /#logo -->

    <!-- #primary-nav-mobile -->
    <nav id="nav-primary-mobile" class="clearfix">
        <a class="menu-toggle" href="#"><i class="icon-reorder"></i>Menu</a>
        <ul id="mobile-menu" class="clearfix">
            {% include 'menu.html.twig' %}
        </ul></nav>
    <!-- /#primary-nav-mobile -->



    <div id="header-bottom" role="navigation" class="clearfix">
        <!-- .container -->
        <div class="container">

            <!-- #primary-nav -->
            <nav id="nav-prim">
                <ul><li>
                        <ul id="menu-main-menu" class="nav clearfix">

                            {% include 'menu.html.twig' %}
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- #primary-nav -->

            <a title="Cyfrowe Archiwum i Muzeum Aleksandra Fredry" href="{{ path('codersmill_homepage') }}">
                <img class="avatar" src="{{ app.request.uriForPath(asset("/images/main_logo.jpg")) | replace({'/app_dev.php': ''}) | replace({'/app.php': ''}) }}" alt="">
            </a>

        </div>
        <!-- /.container -->
    </div>

</header>
<!-- /#header -->

<!-- #site-container -->
<div id="site-container" class="clearfix">
    <!-- #primary -->

            {% block body %}{% endblock %}
        </div>
        <!-- /#content -->
    </div>
    <!-- /#primary -->
</div>
<!-- /#site-container -->

<!-- #site-footer -->
<footer id="site-footer" class="clearfix">

    <!-- #footer-widgets -->
    <div id="footer-widgets" class="clearfix">
        <div class="container">
            <div class="ht-grid ht-grid-stacked">
                <div id="search-4" class="ht-column ht-col-half widget widget_search">
                    <h4 class="widget-title"><span>Wyszukiwarka</span></h4>
                    <form method="get" id="searchform" class="searchform" action="{{ path('codersmill_archive_search') }}" role="search">
                        <label for="s" class="screen-reader-text">Search</label>
                        <input type="search" name="title" class="field" placeholder="Szukaj &hellip;"/>
                        <input type="submit" class="submit" id="searchsubmit" value="Szukaj"/>
                    </form>
                </div>
                <div class="widget_tag_cloud">
                    <h4 class="widget-title"><span>Tagi</span></h4>
                    <div class="tagcloud">
                        {% if tags is defined %}
                            <div class="tags-container">
                                {% for tag in tags %}
                                    <a href="{{ path('codersmill_archive_tags', {'name': tag.tagName}) }}" style="font-size: {{  random(['10', '12', '14']) }}pt;">{{ tag.tagName }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /footer-top -->


    <div id="footer-bottom" class="clearfix">
        <div class="container">
            <small id="copyright" role="contentinfo">© Copyright Coders Mill 2014</small>
        </div>
    </div>

</footer>
<!-- /#site-footer -->

<script type='text/javascript' src='http://fredro.sklep-wordpress.pl/wp-content/themes/scopic/js/functions.js?ver=4.0.1'></script>
<script type='text/javascript' src='http://fredro.sklep-wordpress.pl/wp-content/themes/scopic/js/jquery.magnific-popup.min.js?ver=4.0.1'></script>
<script type="text/javascript">(function(){var request,b=document.body,c='className',cs='customize-support',rcs=new RegExp('(^|\\s+)(no-)?'+cs+'(\\s+|$)');request=true;b[c]=b[c].replace(rcs,' ');b[c]+=(window.postMessage&&request?' ':' no-')+cs;}());</script>

{#<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>#}
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
{% block javascripts %}
    {#{% stylesheets '@CodersmillArchiveBundle/Resources/public/css/*' %} <!--  filter='cssrewrite' -->#}
    {% javascripts '@CodersmillArchiveBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>