<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>{% block title %}Teatr{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets '@CodersmillArchiveBundle/Resources/public/css/*' %} <!--  filter='cssrewrite' -->
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/starter-template/starter-template.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav ">
                {#<li class="active"><a href="#">Home</a></li>#}
                {#<li><a href="#about">About</a></li>#}
                {#<li><a href="#contact">Contact</a></li>#}

                {#<li class="logo-wrapper"><a href="/">#}
                    {#{% image '@CodersmillArchiveBundle/Resources/public/images/mPurpose-logo.png' %}#}
                        {#<img src="{{ asset_url }}" alt="Multipurpose Twitter Bootstrap Template"></a></li>#}
                    {#{% endimage %}#}

                {% if( app.request.attributes.get('_route') == 'codersmill_homepage') %}
                    <li class="active">
                {% else %}
                <li>
                    {% endif %}
                    <a href="{{ path('codersmill_homepage') }}">Główna</a>
                </li>

                {% if( app.request.attributes.get('_route') == 'codersmill_archive_homepage' or app.request.attributes.get('_route') == 'codersmill_archive_show') %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="{{ path('codersmill_archive_homepage') }}">Archiwum</a>
                </li>

                {% if( app.request.attributes.get('_route') == 'team' or app.request.attributes.get('_route') == 'team_show') %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="{{ path('team') }}">Zespół</a>
                </li>

                {% if app.user %}
                    {% if( app.request.attributes.get('_route') == 'fos_user_profile_show') %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{{ url('fos_user_profile_show') }}">Profil</a>
                    </li>

                    <li>
                        <a href="{{ url('fos_user_security_logout') }}">Wyloguj</a>
                    </li>
                {% else %}
                    {% if( app.request.attributes.get('_route') == 'fos_user_registration_register') %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{{ url('fos_user_registration_register') }}">Rejestracja</a>
                    </li>

                    {% if( app.request.attributes.get('_route') == 'fos_user_security_login') %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{{ url('sonata_user_security_login') }}">Logowanie</a>
                    </li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->

    </div>
</nav>

<div class="container" style="margin-top: 55px;">



    {#<div class="starter-template">#}
        {#<h1>Bootstrap starter template</h1>#}
        {#<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>#}
    {#</div>#}
    {% block body %}{% endblock %}

</div><!-- /.container -->

<div class="row footer">
    {% block footer %}{% endblock %}
    <p style="text-align: center; color: #fff; padding-top: 20px;">&copy; 2014 All rights reserved.</p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
{% block javascripts %}
    {#{% stylesheets '@CodersmillArchiveBundle/Resources/public/css/*' %} <!--  filter='cssrewrite' -->#}
    {% javascripts '@CodersmillArchiveBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>




{#<!DOCTYPE html>#}
{#<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->#}
{#<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->#}
{#<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->#}
{#<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->#}
    {#<head>#}
        {#<meta charset="UTF-8" />#}
        {#<title>{% block title %}Welcome!{% endblock %}</title>#}
        {#{% block stylesheets %}#}
            {#{% stylesheets '@CodersmillArchiveBundle/Resources/public/css/*' filter='cssrewrite' %}#}
                {#<link rel="stylesheet" href="{{ asset_url }}" />#}
            {#{% endstylesheets %}#}
        {#{% endblock %}#}
        {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
    {#</head>#}
    {#<body>#}
        {#<!--[if lt IE 7]>#}
            {#<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>#}
        {#<![endif]-->#}
        {##}

        {#<!-- Navigation & Logo-->#}
        {#<div class="mainmenu-wrapper">#}
            {#<div class="container">#}
                {#<div class="menuextras">#}
                    {#<div class="extras">#}
                        {#<ul>#}
                            {#<li>#}
                                {#<div class="dropdown choose-country">#}
                                    {#{% image '@CodersmillArchiveBundle/Resources/public/images/flags/gb.png' %}#}
                                        {#<a class="#" data-toggle="dropdown" href="#"><img src="{{ asset_url }}" alt="Great Britain"> UK</a>#}
                                    {#{% endimage %}#}
                                    {#<ul class="dropdown-menu" role="menu">#}
                                        {#{% image '@CodersmillArchiveBundle/Resources/public/images/flags/pl.png' %}#}
                                            {#<li role="menuitem"><a href="#"><img src="{{ asset_url }}" alt="Poland"> PL</a></li>#}
                                        {#{% endimage %}#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</li>#}
                            {#{% if is_granted("ROLE_ADMIN") %}#}
                                {#<li><a href="{{ url('fos_user_profile_show') }}">Profile</a></li>#}
                                {#<li><a href="{{ url('fos_user_security_logout') }}">Logout</a></li>#}
                            {#{% else %}#}
                                {#<li><a href="{{ url('fos_user_registration_register') }}">Register</a></li>#}
                                {#<li><a href="{{ url('sonata_user_security_login') }}">Login</a></li>#}
                            {#{% endif %}#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
                {#<nav id="mainmenu" class="mainmenu">#}
                    {#<ul>#}
                        {#<li class="logo-wrapper"><a href="index.html">#}
                        {#{% image '@CodersmillArchiveBundle/Resources/public/images/mPurpose-logo.png' %}#}
                            {#<img src="{{ asset_url }}" alt="Multipurpose Twitter Bootstrap Template"></a></li>#}
                        {#{% endimage %}#}
                        {#<li class="active">#}
                            {#<a href="/">Home</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="/">Archives</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="/">About us</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="/">Contact</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</nav>#}
            {#</div>#}
        {#</div>#}

        {#<!-- Press Coverage -->#}
        {#<div class="section">#}
            {#<div class="container">#}
                {#<div class="row">#}
                    {#<div class="col-md-12 col-sm-6">#}
                        {#<div class="in-press press-wired">#}
                            {#{% block body %}{% endblock %}#}
                        {#</div>#}
                    {#</div>                    #}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<!-- Press Coverage -->#}
        {##}

        {#<!-- Our Clients -->#}
        {#<div class="section">#}
            {#<div class="container">#}
                {#<h2>Our Clients</h2>#}
                {#<div class="clients-logo-wrapper text-center row">#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<!-- End Our Clients -->#}

        {#<!-- Footer -->#}
        {#<div class="footer">#}
            {#<div class="container">#}
                {#<div class="row">#}
                    {#<div class="col-footer col-md-3 col-xs-6">#}
                        {#<h3>Our Latest Work</h3>#}
                        {#<div class="portfolio-item">#}
                            {#<div class="portfolio-image">#}
                                {#<a href="page-portfolio-item.html">{% image '@CodersmillArchiveBundle/Resources/public/images/portfolio6.jpg' %}<img src="{{ asset_url }}" alt="Project Name">{% endimage %}</a>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-footer col-md-3 col-xs-6">#}
                        {#<h3>Navigate</h3>#}
                        {#<ul class="no-list-style footer-navigate-section">#}
                            {#<li><a href="page-blog-posts.html">Blog</a></li>#}
                            {#<li><a href="page-portfolio-3-columns-2.html">Portfolio</a></li>#}
                            {#<li><a href="page-products-3-columns.html">eShop</a></li>#}
                            {#<li><a href="page-services-3-columns.html">Services</a></li>#}
                            {#<li><a href="page-pricing.html">Pricing</a></li>#}
                            {#<li><a href="page-faq.html">FAQ</a></li>#}
                        {#</ul>#}
                    {#</div>#}
                    {##}
                    {#<div class="col-footer col-md-4 col-xs-6">#}
                        {#<h3>Contacts</h3>#}
                        {#<p class="contact-us-details">#}
                            {#<b>Address:</b> 123 Fake Street, LN1 2ST, London, United Kingdom<br/>#}
                            {#<b>Phone:</b> +44 123 654321<br/>#}
                            {#<b>Fax:</b> +44 123 654321<br/>#}
                            {#<b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>#}
                        {#</p>#}
                    {#</div>#}
                    {#<div class="col-footer col-md-2 col-xs-6">#}
                        {#<h3>Stay Connected</h3>#}
                        {#<ul class="footer-stay-connected no-list-style">#}
                            {#<li><a href="#" class="facebook"></a></li>#}
                            {#<li><a href="#" class="twitter"></a></li>#}
                            {#<li><a href="#" class="googleplus"></a></li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="row">#}
                    {#<div class="col-md-12">#}
                        {#<div class="footer-copyright">&copy; 2013 mPurpose. All rights reserved.</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}


        {#{% block javascripts %}{% endblock %}#}


        {#{% javascripts#}
            {#'@CodersmillArchiveBundle/Resources/public/js/*' %}#}
            {#<script src="{{ asset_url }}"></script>#}
        {#{% endjavascripts %}#}

    {#</body>#}
{#</html>#}
