{% if( app.request.attributes.get('_route') == 'codersmill_homepage') %}
<li class="menu-item current-menu-item">
{% else %}
<li class="menu-item">
    {% endif %}
    <a href="{{ path('codersmill_homepage') }}">Strona główna</a>
</li>

{% if( app.request.attributes.get('_route') == 'codersmill_archive_homepage' or app.request.attributes.get('_route') == 'codersmill_archive_show') %}
<li class="menu-item current-menu-item">
{% else %}
<li class="menu-item">
    {% endif %}
    <a href="{{ path('codersmill_archive_homepage') }}">Archiwum</a>
</li>

{% if( app.request.attributes.get('_route') == 'team' or app.request.attributes.get('_route') == 'team_show') %}
<li class="menu-item current-menu-item menu-item-team">
{% else %}
<li class="menu-item menu-item-team">
    {% endif %}
    <a href="{{ path('team') }}">Zespół</a>
</li>

{% if app.user %}
    {% if( app.request.attributes.get('_route') == 'fos_user_profile_show') %}
        <li class="menu-item current-menu-item">
    {% else %}
        <li class="menu-item">
    {% endif %}
    <a href="{{ url('fos_user_profile_show') }}">Profil</a>
    </li>

    <li>
        <a href="{{ url('fos_user_security_logout') }}">Wyloguj</a>
    </li>
{% else %}
    {% if( app.request.attributes.get('_route') == 'fos_user_security_login') %}
        <li class="menu-item current-menu-item">
    {% else %}
        <li class="menu-item">
    {% endif %}
    <a href="{{ url('sonata_user_security_login') }}">Zaloguj się</a>
    </li>

    {% if( app.request.attributes.get('_route') == 'codersmill_archive_contact') %}
        <li class="menu-item current-menu-item">
    {% else %}
        <li class="menu-item">
    {% endif %}
    <a href="{{ url('codersmill_archive_contact') }}">Kontakt</a>
    </li>
{% endif %}