<div class="row">
    <div class="col-md-8 col-md-offset-2 auth-form">
        <div class="form-title">
            <h3>Rejestracja</h3>
        </div>
        <div class="form-body">
            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">
                {#{{ form_widget(form) }}#}

                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="row form-field">
                    <div class="col-md-2">
                        {{ form_label(form.username, 'Login: ') }}
                    </div>
                    <div class="col-md-10">
                        {{ form_row(form.username, {'label': ' '}) }}
                    </div>
                </div>

                <div class="row form-field">
                    <div class="col-md-2">
                        {{ form_label(form.email, 'Email: ') }}
                    </div>
                    <div class="col-md-10">
                        {{ form_row(form.email, {'label': ' '}) }}
                    </div>
                </div>

                <div class="row form-field">
                    <div class="col-md-2">
                        {{ form_label(form.plainPassword.first, 'Hasło: ') }}
                    </div>
                    <div class="col-md-10">
                        {{ form_row(form.plainPassword.first, {'label': ' '}) }}
                    </div>
                </div>

                <div class="row form-field">
                    <div class="col-md-2">
                        {{ form_label(form.plainPassword.second, 'Powtórz: ') }}
                    </div>
                    <div class="col-md-10">
                        {{ form_row(form.plainPassword.second, {'label': ' '}) }}
                    </div>
                </div>


                {#{{ form_row(form.submit, { 'label': 'Submit me' }) }}#}
                {{ form_rest(form) }}

                <input type="submit" value="Rejestruj" class="btn pull-right" /><br><br><br>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
</div>