{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '::base.html.twig' %}

{% block body %}
    <h2>Twoje dane</h2><br>
    <p><b>Login:</b> {{ user.username }}</p>
    <p><b>Email:</b> {{ user.email }}</p>
    <p><b>Imie:</b> {{ user.firstname }}</p>
    <p><b>Nazwisko:</b> {{ user.lastname }}</p>
    <p><small><a href="{{ path('sonata_user_profile_edit') }}">Zmień dane</a></small></p>
{% endblock %}
