{% extends '::base.html.twig' %}

{% block body -%}
<div id="primary" class="sidebar-off clearfix">
    <!-- #content -->
    <div id="content" role="main">

        <article class="page hentry clearfix">
            <!-- .hentry-box -->
            <div class="hentry-box">
                <!-- .entry-wrap -->
                <div class="entry-wrap">

                    {#<header id="page-header">#}
                        {#<h1 class="page-title">Strona główna</h1>#}
                    {#</header>#}

                    <div class="entry-content clearfix">
                        <p>{{ page.description|nl2br }}</p>
                        <div class="row" style="text-align: center; padding-top: 20px;">
                            <div class="col-md-3 col-sm-6" style="float: left; ">
                                <h4></h4>
                                <p><a href="http://www.szeptyccy.pl/" target="_blank"><img style="width: 150px; margin-bottom: 20px;" src="{{ app.request.uriForPath(asset("/images/logo3.jpg")) | replace({'/app_dev.php': ''}) | replace({'/app.php': ''}) }}" alt="Logo"/></a></p>
                            </div>
                            <div class="col-md-3 col-sm-6" style="float: left; ">
                                <h4>Przy współpracy</h4>
                                <p><a href="http://dom-komedii.pl/" target="_blank"><img style="width: 150px; margin-bottom: 20px;" src="{{ app.request.uriForPath(asset("/images/logo2.png")) | replace({'/app_dev.php': ''}) | replace({'/app.php': ''}) }}" alt="Logo"/></a></p>
                            </div>
                            <div class="col-md-3 col-sm-6" style="float: left;">
                                <h4>Przy współpracy</h4>
                                <p><img style="width: 150px; margin-bottom: 20px; padding-top: 40px;" src="{{ app.request.uriForPath(asset("/images/logo4.jpg")) | replace({'/app_dev.php': ''}) | replace({'/app.php': ''}) }}" alt="Logo"/></p>
                            </div>
                            <div class="col-md-3 col-sm-6" style="float: left; ">
                                <h4>Dofinansowano ze środków</h4>
                                <p><a href="http://www.mkidn.gov.pl/" target="_blank"><img style="width: 150px; margin-bottom: 20px;" src="{{ app.request.uriForPath(asset("/images/logo1.jpg")) | replace({'/app_dev.php': ''}) | replace({'/app.php': ''}) }}" alt="Logo"/></a></p>
                            </div>
                        </div>
                    </div>

                    <!-- /.entry-wrap -->
                </div>

                <!-- /.hentry-box -->
            </div>
        </article>

    </div>
</div>
{% endblock %}

