{% extends '::base.html.twig' %}

{% block body -%}

<div id="primary" class="sidebar-off clearfix">
    <!-- #content -->
    <div id="content" role="main">
        <div class="index">
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <div class="count">
                        {{ pagination.getTotalItemCount }} archiwów
                        {#<p>#}
                            {#{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}#}
                        {#</p>#}
                        {#<p>#}
                            {#{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}#}
                        {#</p>#}
                    </div>
                </div>
            </div>

            {% if (pagination is defined) and (pagination.getTotalItemCount > 0) %}
            <ul id="timeline" class="clearfix">
                {% for entity in pagination %}
                {#{% for entity in archives %}#}
                    {% include "CodersmillArchiveBundle:partials:archiveItem.html.twig" with { entity: entity } %}
                {% endfor %}
            </ul>
            {% else %}
                <div class="row archive">

                        <div class="col-md-8 col-md-offset-2 archive-info" style="padding: 20px;">

                            <div class="archive-title">
                                Brak wyników
                            </div>

                            <div class="archive-desc">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Niestety nic nie znaleźliśmy</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}