{% extends '::base.html.twig' %}

{% block body -%}

    <div id="primary" class="sidebar-off clearfix">
        <!-- #content -->
        <div id="content" role="main">

            <article class="page hentry clearfix">
                <!-- .hentry-box -->
                <div class="hentry-box">
                    <!-- .entry-wrap -->
                    <div class="entry-wrap">

                        <header id="page-header">
                        <h1 class="page-title">Wyszukiwanie zaawansowane <span class="pull-right" id="show_advanced_options"><i class="fa fa-angle-double-down"></i></span></h1>
                        </header>

                        <div id="advanced_options" class="entry-content clearfix" style="display: none;">
                            <form method="get" id="advanced_searchform" class="advanced_searchform" action="{{ path('codersmill_archive_search') }}" role="search">
                                <label for="title">Tytuł archiwum</label>
                                <input type="search" class="field" name="title" placeholder="Tytuł" value="{{ app.request.query.get("title") }}">
                                <label for="date">Data stworznia/powstania</label>
                                <input type="search" class="field" name="date" placeholder="Data" value="{{ app.request.query.get("date") }}">
                                <label for="author">Autor dzieła</label>
                                <input type="search" class="field" name="author" placeholder="Autor" value="{{ app.request.query.get("author") }}">
                                <label for="archive_type">Kategoria archiwum</label>
                                <select name="archive_type" id="simple_select">
                                    <option value="Wszystko">
                                        Wszystko
                                    </option>
                                    {% for category in categories %}
                                        {% if category == app.request.query.get("archive_type") %}
                                            <option value="{{ category }}" selected="selected">
                                                {{ category }}
                                            </option>
                                        {% else %}
                                            <option value="{{ category }}">
                                                {{ category }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>

                                <input type="submit" class="submit" id="searchsubmit" value="Szukaj">
                            </form>
                        </div>

                        <!-- /.entry-wrap -->
                    </div>

                    <!-- /.hentry-box -->
                </div>
            </article>

        </div>
    </div>

    <div id="primary" class="sidebar-off clearfix">
        <!-- #content -->
        <div id="content" role="main">
            <div class="index">
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <div class="count">
                            {{ pagination.getTotalItemCount }} archiwów
                            {#<p>#}
                            {#{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}#}
                            {#</p>#}
                            {#<p>#}
                            {#{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}#}
                            {#</p>#}
                        </div>
                    </div>
                </div>

                {% if (pagination is defined) and (pagination.getTotalItemCount > 0) %}
                    <ul id="timeline" class="clearfix">
                        {% for entity in pagination %}
                            {#{% for entity in archives %}#}
                            {% include "CodersmillArchiveBundle:partials:archiveItem.html.twig" with { entity: entity } %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="row archive">

                        <div class="col-md-8 col-md-offset-2 archive-info" style="padding: 20px; text-align: center;">

                            <div class="archive-title">
                                Brak wyników
                            </div>

                            <div class="archive-desc">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Niestety nic nie znaleźliśmy</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("select").simpleselect();
        });


        $('#show_advanced_options').click(function() {
            $('#advanced_options').slideDown('slow');
        });
    </script>

{% endblock %}