{% extends '::base.html.twig' %}

{% block body %}

        {#<div class="row">#}
            {#<div class="archive-item">#}
                {#<div class="col-md-4">#}
                    {#<img src="http://placehold.it/300x350">#}
                {#</div>#}
                {#<div class="col-md-8 archive-info">#}
                    {#<div class="archive-title">#}
                        {#{{ archive.title }}#}
                        {#<a href="#" id="show_detail"><img src="{{ app.request.uriForPath(asset("/images/arrow-down.png")) | replace({'/app_dev.php': ''}) }}" alt="Pokaż więcej" class="pull-right"></a>#}
                    {#</div>#}

                    {#<div class="archive-desc">#}
                        {#{% if archive.description is defined %}#}
                            {#Opis: {{ archive.description }}<br><br>#}
                        {#{% endif %}#}

                        {#<div id="details" style="display: none">#}
                            {#{% if archive.scanNumber is defined %}#}
                                {#Numer skanu: {{ archive.scanNumber }}<br>#}
                            {#{% endif %}#}
                            {#{% if archive.archiveAuthor is defined %}#}
                                {#Autor: {{ archive.archiveAuthor }}<br>#}
                            {#{% endif %}#}
                            {#{% if archive.dateCreated is defined %}#}
                                {#Data: {{ archive.dateCreated }}<br>#}
                                {#&#123;&#35;|date('d/m/Y', timezone="Europe/Warsaw")&#35;&#125;#}
                            {#{% endif %}#}
                            {#{% if archive.owner is defined %}#}
                                {#Właściciel: {{ archive.owner }}<br>#}
                            {#{% endif %}#}
                            {#{% if archive.format is defined %}#}
                                {#Format: {{ archive.format }}<br>#}
                            {#{% endif %}#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

    {#<script>#}
        {#$(document).ready(function() {#}

            {#$('#show_detail').on('click', function(e) {#}
                {#e.preventDefault();#}
                {#$('#details').slideDown('slow');#}
            {#});#}

        {#});#}
    {#</script>#}

		{#<hr>#}

    <section id="primary" class="sidebar-left clearfix">

        <!-- #content -->
        <div id="content" role="main">
            <article id="post-1" class="post-1 post type-post status-publish format-standard hentry category-data tag-data-2 tag-utwory clearfix">
                <!-- .hentry-box -->
                <div class="hentry-box">
                    <div class="entry-wrap">
                        <header class="entry-header">
                            <h1 class="entry-title">{{ archive.title }}</h1>
                            <div class="entry-meta"><span class="entry-meta-date"><time datetime="1793-06-20T17:49:45+00:00">{{ archive.dateCreated }}</time></span></div>
                        </header>

                        <div class="entry-content clearfix">
                            <p>{{ archive.description }}</p>
                        </div>
                        {% if (archive_tags is defined) and (archive_tags|length > 0) %}
                            <div class="tags">
                                Tagi:
                                {% for tag in archive_tags %}
                                    <a href="{{ path('codersmill_archive_tags', {'name': tag.tagName}) }}">{{ tag.tagName }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <!-- /.hentry-wrap -->
                    </div>
                    <!-- /.hentry-box -->
                </div>
            </article>
        </div>
        <!-- #content -->

        <!-- #sidebar -->
        <aside id="sidebar" role="complementary">

            <div id="search-2" class="widget widget_search clearfix">
                <form method="get" id="searchform" class="searchform" action="{{ path('codersmill_archive_search') }}" role="search">
                    <label for="s" class="screen-reader-text">Search</label>
                    <input type="search" class="field" name="title" placeholder="Szukaj …">
                    <input type="submit" class="submit" id="searchsubmit" value="Search">
                </form>
            </div>
            {% if latests is defined %}
            <div id="recent-posts-2" class="widget widget_recent_entries clearfix">
                <h4 class="widget-title">Ostatnio dodane archiwa</h4>
                <ul>
                {% for latest in latests %}
                    <li>
                        <a href="{{ path('codersmill_archive_show', {'id': latest.id}) }}">{{ latest.title }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% if categories is defined %}
            <div id="categories-2" class="widget widget_categories clearfix">
                <h4 class="widget-title">Kategorie</h4>
                <ul>
                    {% for category in categories %}
                        <li class="cat-item cat-item-1">
                            <a href="{{ path('codersmill_archive_search', {'archive_type': category}) }}">{{ category }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </aside>
        <!-- /#sidebar -->

    </section>


{% endblock %}

