body .navbar {
    background: url('../../images/top_menu_bg.png') !important;
    border: none;
    height: 90px;
    color: white;
}

body .navbar .navbar-header .navbar-brand, body .navbar .navbar-nav > li > a {
    color: #fff;
    padding-top: 25px;
    padding-bottom: 30px;
}

body .navbar .navbar-header .navbar-brand, body .navbar .navbar-nav > li.active > a {
    background: rgba(234, 95, 72, 0.3) !important;
}

/**
 *  Archive detail page
 */
.archive-info {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);

    border: 1px solid #989898;
    padding: 0px !important;
}

.archive-title
{
    display: block;
    padding: 15px;
    background: #989898;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.archive-desc
{
    -webkit-box-shadow: inset 0px 13px 6px -10px rgba(0,0,0,0.45);
    -moz-box-shadow: inset 0px 13px 6px -10px rgba(0,0,0,0.45);
    box-shadow: inset 0px 13px 6px -10px rgba(0,0,0,0.45);

    padding: 15px;
    background: #ebebeb;
}