{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {#<div class="row">#}
        {#<div class="col-md-6">#}
            {#<div class="panel panel-info">#}

                {#<div class="panel-heading">#}
                    {#<h2 class="panel-title">Logowanie</h2>#}
                {#</div>#}

                {#<div class="panel-body">#}

                    {#{% if error %}#}
                        {#<div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>#}
                    {#{% endif %}#}

                    {#<form action="{{ path("fos_user_security_check") }}" method="post" role="form"#}
                          {#class="form-horizontal">#}
                        {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>#}

                        {#<div class="form-group">#}
                            {#<label for="username"#}
                                   {#class="col-lg-3 col-sm-3 control-label">Login</label>#}

                            {#<div class="col-lg-9 col-sm-9"><input type="text" class="form-control" id="username"#}
                                                                  {#name="_username" value="{{ last_username }}"#}
                                                                  {#required="required"/></div>#}
                        {#</div>#}


                        {#<div class="form-group control-group">#}
                            {#<label for="password"#}
                                   {#class="col-lg-3 col-sm-3 control-label">Hasło</label>#}

                            {#<div class="col-lg-9 col-sm-9"><input type="password" class="form-control" id="password"#}
                                                                  {#name="_password" required="required"/></div>#}
                        {#</div>#}

                        {#<div class="form-group">#}
                            {#<div class="col-sm-offset-3 col-sm-9">#}
                                {#<div class="checkbox control-group">#}
                                    {#<label for="remember_me">#}
                                        {#<input type="checkbox" id="remember_me" name="_remember_me" value="on"/>#}
                                        {#Pamiętaj mnie#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}

                        {#<div class="form-group control-group">#}
                            {#<div class="controls col-sm-offset-3 col-sm-9">#}
                                {#<a href="{{ path('fos_user_resetting_request') }}">Zapomniałeś hasła ?</a>#}
                            {#</div>#}
                        {#</div>#}

                        {#<div class="form-group">#}
                            {#<div class="col-sm-offset-3 col-sm-9">#}
                                {#<input type="submit" id="_submit" name="_submit" class="btn btn-primary"#}
                                       {#value="Zaloguj"/>#}
                            {#</div>#}
                        {#</div>#}
                    {#</form>#}
                {#</div>#}
            {#</div>#}

        {#</div>#}
    {#</div>#}


    <div class="row">
        <div class="col-md-8 col-md-offset-2 auth-form">
            <div class="form-title">
                <h3>Logowanie</h3>
            </div>
            <div class="form-body">
                <form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-horizontal">

                    <div class="row form-field">
                        <div class="col-md-2">
                            <label>Login: </label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required"/>
                        </div>
                    </div>

                    <div class="row form-field">
                        <div class="col-md-2">
                            <label>Hasło: </label>
                        </div>
                        <div class="col-md-10">
                            <input type="password" class="form-control" id="password" name="_password" required="required"/>
                        </div>
                    </div>

                    <div class="row form-field">
                        <div class="col-md-2">
                            <label>Pamiętaj mnie</label>
                        </div>
                        <div class="col-md-10 text-left">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    <input type="submit" value="Rejestruj" class="btn pull-right" /><br><br><br>

                </form>
            </div>
        </div>
    </div>


{% endblock fos_user_content %}
