{% extends '::base.html.twig' %}

{% block body -%}
    <article class="page hentry clearfix">
        <!-- .hentry-box -->
        <div class="hentry-box">
            <!-- .entry-wrap -->
            <div class="entry-wrap">

                <header id="page-header">
                    <h1 class="page-title">Kontakt</h1>
                </header>

                <div class="entry-content">
                    <div class="entry-content clearfix team-box">
                        <div class="row">
                            <div class="col-sm-6" style="float: left; ">
                                <h3>Adres</h3>
                                <p>
                                    ul. Grocka 11<br>
                                    30-300 Kraków<br>
                                    <br>
                                    tel 123 456 789
                                </p>

                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d40980.04938497119!2d19.93014197116614!3d50.06282173108255!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b120455da67%3A0xc3c7f5071b750d33!2zUnluZWsgR8WCw7N3bnk!5e0!3m2!1sen!2spl!4v1420501662627" width="400" height="300" frameborder="0" style="border:0"></iframe>
                            </div>
                            <div class="col-sm-6 member-info" style="float: left; ">
                                <h3>Wyślij widomość</h3>
                                {{ form_start(form) }}
                                {{ form_errors(form) }}

                                {{ form_row(form.name, {'label': 'Imię i nazwisko'}) }}
                                {{ form_row(form.email, {'label': 'Adres e-mail'}) }}
                                {{ form_row(form.subject, {'label': 'Tytuł wiadomości'}) }}
                                {{ form_row(form.message, {'label': 'Wiadomość'}) }}
                                <input type="submit" value="Wyślij">
                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.entry-wrap -->

            </div>
            <!-- /.hentry-box -->
        </div>
    </article>
{% endblock %}
