{% extends '::base.html.twig' %}

{% block body -%}
    <article class="page hentry clearfix">
        <!-- .hentry-box -->
        <div class="hentry-box">
            <!-- .entry-wrap -->
            <div class="entry-wrap">

                <header id="page-header">
                    <h1 class="page-title">Wysłano!</h1>
                </header>

                <div class="entry-content">
                    <div class="entry-content clearfix team-box">
                        <div class="row">
                            <h3>Twoja wiadomość została wysłana poprawnie.<br>Dziękujemy!</h3>
                        </div>
                    </div>
                </div>
                <!-- /.entry-wrap -->

            </div>
            <!-- /.hentry-box -->
        </div>
    </article>
{% endblock %}
