
    {#{% if( entity.access == 'public' or (entity.access == 'request' and is_granted('ROLE_EXPERT')) ) %}#}
        {#<div class="col-md-8 col-md-offset-2 archive-info" style="padding: 20px;">#}

            {#<div class="archive-title">#}
                {#{{ entity.title }}#}
            {#</div>#}

            {#<div class="archive-desc">#}
                {#<div class="row">#}
                    {#<div class="col-md-4">#}
                        {#<img src="{{ app.request.uriForPath(asset('/uploads/archives/thumbs/'~entity.thumb)) | replace({'/app_dev.php': ''}) }}" class="img-responsive" alt="{{ entity.title }}">#}
                    {#</div>#}
                    {#<div class="col-md-8 ">#}

                        {#<div class="archive-info">#}
                            {#<div class="archive-title">#}
                                {#Informacje szczegółowe#}
                                {#<a href="#" id="show_detail_{{ entity.id }}"><img src="{{ app.request.uriForPath(asset("/images/arrow-down.png")) | replace({'/app_dev.php': ''}) }}" alt="Pokaż więcej" class="pull-right"></a>#}
                            {#</div>#}


                            {#<div class="archive-desc">#}
                                {#{{ entity.scanNumber }}<br><br>#}
                                {#{% if entity.description is defined %}#}
                                    {#<b>{{ entity.description }}</b><br><br>#}
                                {#{% endif %}#}

                                {#<div id="details_{{ entity.id }}" style="display: none">#}
                                    {#{% if entity.archiveAuthor is defined %}#}
                                        {#Autor: {{ entity.archiveAuthor }}<br>#}
                                    {#{% endif %}#}
                                    {#{% if entity.dateCreated is defined %}#}
                                        {#Data: {{ entity.dateCreated }}<br>#}
                                        {#&#123;&#35;|date('d/m/Y', timezone="Europe/Warsaw")&#35;&#125;#}
                                    {#{% endif %}#}
                                    {#{% if entity.owner is defined %}#}
                                        {#Właściciel: {{ entity.owner }}<br>#}
                                    {#{% endif %}#}
                                    {#{% if entity.format is defined %}#}
                                        {#Format: {{ entity.format }}<br>#}
                                    {#{% endif %}#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}


                    {#</div>#}
                {#</div>#}

                {#&#123;&#35;<div id="details" style="display: none">&#35;&#125;#}
                {#&#123;&#35;{% if archive.scanNumber is defined %}&#35;&#125;#}
                {#&#123;&#35;Numer skanu: {{ archive.scanNumber }}<br>&#35;&#125;#}
                {#&#123;&#35;{% endif %}&#35;&#125;#}
                {#&#123;&#35;{% if archive.archiveAuthor is defined %}&#35;&#125;#}
                {#&#123;&#35;Autor: {{ archive.archiveAuthor }}<br>&#35;&#125;#}
                {#&#123;&#35;{% endif %}&#35;&#125;#}
                {#&#123;&#35;{% if archive.dateCreated is defined %}&#35;&#125;#}
                {#&#123;&#35;Data: {{ archive.dateCreated }}<br>&#35;&#125;#}
                {#&#123;&#35;&#123;&#35;|date('d/m/Y', timezone="Europe/Warsaw")&#35;&#125;&#35;&#125;#}
                {#&#123;&#35;{% endif %}&#35;&#125;#}
                {#&#123;&#35;{% if archive.owner is defined %}&#35;&#125;#}
                {#&#123;&#35;Właściciel: {{ archive.owner }}<br>&#35;&#125;#}
                {#&#123;&#35;{% endif %}&#35;&#125;#}
                {#&#123;&#35;{% if archive.format is defined %}&#35;&#125;#}
                {#&#123;&#35;Format: {{ archive.format }}<br>&#35;&#125;#}
                {#&#123;&#35;{% endif %}&#35;&#125;#}
                {#&#123;&#35;</div>&#35;&#125;#}
            {#</div>#}
        {#</div>#}
    {#{% else %}#}
    {% if( entity.access == 'public' or (entity.access == 'request' and is_granted('ROLE_EXPERT')) ) %}

            <li class="animated fadeInUp">
                <article class="format-gallery hentry clearfix">
                    <span class="entry-date"><span class="entry-meta-date"><time datetime="2014-12-16T11:07:32+00:00">2014</time></span></span>

                    <!-- .hentry-box -->
                    <div class="hentry-box">
                        <div class="entry-gallery">
                            <ul class="clearfix">
                                <li>
                                    <figure class="entry-thumb">
                                        {% if entity.thumb is empty %}
                                            <img src="{{ app.request.uriForPath(asset('/images/no_preview2.jpg')) | replace({'/app_dev.php': ''}) | replace({'/app.php': ''}) }}" width="800" height="545" alt="">
                                        {% else %}
                                            <img src="{{ app.request.uriForPath(asset('/uploads/archives/thumbs/'~entity.thumb)) | replace({'/app_dev.php': ''}) | replace({'/app.php': ''}) }}" width="800" height="545" alt="">
                                        {% endif %}
                                        <figcaption class="entry-thumb-caption-hidden">
                                            <div class="caption-content">
                                                <a class="caption-link" href="{{ app.request.uriForPath(asset('/uploads/archives/thumbs/'~entity.thumb)) | replace({'/app_dev.php': ''}) | replace({'/app.php': ''}) }}" rel="nofollow" title=""><i class="icon-search"></i></a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </div>

                        <div class="entry-wrap">
                            <header class="entry-header">
                                <h2 class="entry-title"><a href="{{ path('codersmill_archive_show', {'id': entity.id}) }}" rel="bookmark">{{ entity.title }}</a></h2>
                            </header>
                            <div class="entry-summary clearfix">
                            </div>
                        </div>
                        <!-- /.hentry-box -->
                    </div>

                    <footer class="entry-footer">
                        <ul>
                            <li><i class="icon-link"></i><a href="{{ path('codersmill_archive_show', {'id': entity.id}) }}" >{{ entity.title}}</a></li>
                        </ul>
                    </footer>
                </article>
            </li>

    {% else %}
        <div class="row archive">
            <div class="col-md-8 col-md-offset-2 archive-info" style="padding: 20px;">
                <div class="archive-title">
                    Brak wyników
                </div>

                <div class="archive-desc">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Niestety nic nie znaleźliśmy</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
