{% extends base_template %}

{% block list_table %}
    <div class="box box-primary">
        <div class="box-body table-responsive padding">
            <h2>Wybierz które rekordy chcesz zapisać</h2>

            <form action="{{ url('admin_codersmill_archive_archive_importSave') }}" method="post">
                <input type="hidden" name="archive_class" value="{{ archive_class }}">

                <div class="table-responsive" style="overflow: scroll">
                    <table class="table table-bordered table-hover table-condensed table-striped">
                        <th>
                            {%  for i in range(1, records[0]|length) %}
                                <td>
                                    <select name="field[{{ loop.index0 }}]">
                                        <option value="nofield">Wybierz kolumne</option>
                                        {% for key,value in fields %}
                                            <option value="{{ key }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            {% endfor %}
                        </th>

                        {% for record in records %}
                            {% if (loop.index > 3) and (record[0] != '') %}
                                <tr>
                                    <td><input type="checkbox" name="ids[{{ loop.index }}]" checked></td>
                                    {%  for cell in record %}
                                        <td><input type="hidden" name="item[{{ loop.parent.loop.index0 }}][{{ loop.index0 }}]" value="{{ cell }}"> {{ cell }}</td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>


                <input type="submit" value="Importuj" class='btn btn-primary'>

            </form>

        </div>
    </div>
{% endblock %}