{% extends base_template %}

{% block list_table %}
<div class="box box-primary">
    <div class="box-body table-responsive padding">
        <h2>Ustaw opcje importu</h2>
        {#{% for sheet in sheet_names %}#}
            {#<input type="radio" name="sheet" value="{{ sheet }}"> {{ sheet }}<br>#}
        {#{% endfor %}#}

        {{ form(form) }}
    </div>
</div>
{% endblock %}