{% extends base_template %}

{% block actions %}
    {% spaceless %}
        {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
            <li>{% include 'SonataAdminBundle:Core:create_button.html.twig' %}</li>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}


{% block list_table %}
<div class="box box-primary">
    <div class="box-body table-responsive padding">
        <h2>Wybierz plik z którego mają zostać zaimportowane archiwa</h2>
        {{ form(form) }}
        {{ form_rest(form) }}
    </div>
</div>
{% endblock %}