/*fix menu*/
@media screen and (min-width:720px){
    .menu-item-team {margin-left: 225px;}
}
#menu-main-menu {

    margin: 0 auto !important;
    display: table;
    width: auto;
    overflow: hidden;
    position: relative;
    left: 21px;

}
@media screen and (max-width: 830px) {

    #nav-prim ul ul li{
        padding:0 12px;
    }
    .entry-content h4{
        font-size:16px;
    }

}
.col-sm-6{
    width:50%;
}
@media screen and (min-width:500px){
    .col-md-3{
        width:25%;
    }
}
.home .entry-content .row div:first-child h4 {
    height: 21px;
}




a, a:visited, a:hover, .comment-action i {
    color: #dd5136;
}
input[type=submit], input[type=button], .paging-navigation li a:hover, .hentry .entry-header:after, .hentry .entry-footer:before, .hentry .hentry-box>.entry-quote, .hentry .entry-link, .hentry .entry-status, #site-header #logo, .hentry .entry-date, .paging-navigation:after, #timeline>li .hentry:before {
    background: #dd5136;
}
.entry-content a:hover, .entry-content blockquote, p.pullquote-left, p.pullquote-right, #social-icons li a:hover, #nav-primary>ul>li:hover>a {
    border-color: #dd5136;
}
#social-icons li a:hover, #nav-primary>ul>li:hover>a, #nav-primary ul ul li a:hover {
    color: #dd5136;
}
.hentry .entry-thumb-caption, .gallery .gallery-item-caption {
    background: #dd5136;
    background: rgba(221, 81, 54, 0.8);
}

.index {
    padding-top: 30px;
}

.team-box {
    padding-bottom: 40px;
}

.member-info {
    padding-left: 20px;
}

.advanced_searchform {}

.advanced_searchform input, .advanced_searchform select {
    width: 100%;
    height: 35px;
    margin: 10px 0 !important;
}

/* Helpers */
.pull-right {float: right;}
